.label-dark {
	background: $label-dark;
}
.label-hidden {
	background: $label-hidden;
}
.label-locked {
	background: $label-locked;
}
.label-pinned {
	background: $label-pinned;
}
.label-poll {
	background: $label-poll;
}
.label-rt {
	background: $label-rt;
}