.label-rt {
	background: rgba(69, 0, 107, 1) !important;
}

.label-locked {
	background: rgba(86, 0, 158, 1)
}

.label-poll {
	background: rgba(89, 79, 6, 1);
}

.label-hidden {
	background: rgba(7, 76, 76, 1)
}

.label-pinned {
	background: rgba(127, 52, 0, 1);
}

.label-dark {
	background: rgba(21, 21, 21, 1);
}