* {
	margin: 0;
	padding: 0;
}
body {
	background: #373737 !important;
	color: $textColor !important;
	cursor: default;
	font: {
		family: "Proxima Nova Regular", "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
		style: normal;
		size: 1.5em !important;
	}
	padding-top: 50px;
}
#portfolio {
	margin: 0;
	.title {
		h2 {
			text-align: center;
		}
	}
	#portfolio-about {
		p {
			line-height: 1;
			font-size: .6em;
			img {
				margin: 0 5px 0;
			}
		}
	}
	#portfolio-social {
		img {
			$transition: opacity 0.5s;
			opacity: .5;
			padding: {
				left: 5px;
				right: 5px;
			}
			-webkit-transition: $transition;
			transition: $transition;
			&:hover {
				opacity: 1;
			}
		}
	}
}
#top {
	bottom: 15px;
	display: none;
	position: fixed;
	right: 25px;
	z-index: 9999;
	a {
		i {
			background: rgba(18, 18, 18, 0.7);
			border-radius: 3px;
			color: #fff;
			font-size: 14px;
			padding: 8px 9px 5px;
		}
	}
}