.center-block{
	display:block;
	margin:0 auto;
}
.row-margin{
	margin:0em !important;
}

.pagination{
	li a{
		background-color:rgba(65, 65, 65, 1) !important;
		border:1px solid rgba(51, 181, 229, 1) !important;
	}
}
.breadcrumb{
	$breadcrumbHeight: 37px;
	background:rgba(69, 69, 69, 1);
	border-radius:0em !important;
	height: $breadcrumbHeight;
	margin-bottom:0px;
	padding:0em !important;
	li{
		color:$linkColor !important;
		height: $breadcrumbHeight;
		&.active {
			color: rgba(112, 112, 112, 1) !important;
		}
		&::before {
			content: none !important;
			padding: 0em 0em;
		}
		&:not(.active):hover {
			background: rgba(61, 61, 61, 1);
		}
		a,
		span{
			align-items: center;
			display: flex;
			height: $breadcrumbHeight;
			justify-content: center;
			padding:0em 1em !important;
		}
	}
}

::-webkit-scrollbar{
	background:rgba(25, 25, 25, 1);
	width:.75em;
}
::-webkit-scrollbar-thumb{
	border-radius:10px;
	background:rgba(41,145,184,0.8);
	box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive{
	background:rgba(41,145,184,0.8);
}
.inline{
	display:inline;
}
.full-width{
	width:100%;
}
.row-flat{
	margin-left:0em !important;
	margin-right:0em !important;
}
.panel-dark{
	background:rgba(41, 41, 41, 1);
	border-color:rgba(49, 49, 49, 1);
	.panel-heading{
		background-color:rgba(88, 88, 88, 1);
		border-color:rgba(97, 97, 97, 1);
	}
}
.padding-none{
	padding:0em !important;
}



$cardHeight:200px;
$cardWidth:200px;
/* entire container, keeps perspective */
.flip-container{
	perspective:1000;
	.flipper{
		transform-style:preserve-3d;
		transition:0.6s;
		position:relative;
		.front{
			background:{
				color:rgba(23, 23, 23, 1);
				size:$cardWidth $cardHeight !important;
			}
			transform:rotateY(0deg);
			z-index:2;
		}
		.back{
			transform:rotateY(180deg);
			.back-logo >img{
				max-height:8em;
				max-width:$cardWidth;
			}
			.back-title{
				left:0;
				position:absolute;
				right:0;
				text-align:center;
				top:80px;
				width:100%;
			}
		}
		>div{
			background:rgba(23, 23, 23, 1);
			border-radius:1em;
			backface-visibility:hidden;
			left:0;
			position:absolute;
			top:0;
		}
	}
	&:hover,
	.hover{
		.flipper{
			transform:rotateY(180deg);
		}
	}
}
.flip-container,
.front,
.back{
	height:$cardHeight;
	width:$cardWidth;
}

.card{
	background:rgba(23, 23, 23, 1);
	border-left:{
		style:solid;
		width:4px;
		color:transparent;
	}
	padding:.5em .3em;
	&:hover{
		background:rgba(33, 33, 33, 1);
	}
}
.card-bad {
	border-left-color:rgba(153, 0, 0, 1);
}
.card-good {
	border-left-color:rgba(0, 153, 0, 1);
}
.card-read {
	border-left-color:rgba(11, 11, 11, 1);
}
.card-unread {
	border-left-color:rgba(170, 170, 170, 1);
}
.card-hidden {
	border-left-color:rgba(25, 255, 255, 1);
}
.card-locked {
	border-left-color:rgba(86, 0, 158, 1);
}
.card-pinned {
	border-left-color:rgba(237, 119, 16, 1);
}
.card-poll {
	border-left-color:rgba(237, 210, 16, 1);
}
.card-open {
	@extend .card-good;
}
.card-bad {
	@extend .card-bad;
}
.card-escalated {
	@extend .card-pinned;
}
.card-link {
	&:hover {
		cursor:pointer;
	}
}
.list-group {
	.list-group-item {
		background: rgba(31, 31, 31, 1);
		border:1px solid rgba(23, 23, 23, 0.7);
		&:hover {
			background: rgba(39, 39, 39, 1);
			color:rgba(255, 255, 255, 1);
		}
		&.active {
			background: rgba(37, 37, 37, 1);
			border:1px solid rgba(37, 37, 37, 1);
			&:hover {
				background:rgba(43, 43, 43, 1);
				border:1px solid rgba(189, 189, 189, .5);
			}
		}
	}
}
.well {
	background: rgba(23, 23, 23, 1) !important;
	border:1px solid rgba(31, 31, 31, 1) !important;
}
.btn-group-dark {
	>button {
		background: rgba(32, 32, 32, 1);
		border-color: rgba(21, 21, 21, 1);
		color: rgba(245, 245, 245, 1);
		&:hover {
			background: rgba(26, 26, 26, 1);
			color: rgba(255, 255, 255, 1);
		}
	}
	>ul {
		background: rgba(41, 41, 41, 1);
		li {
			background: rgba(41, 41, 41, 1);
			a {
				color: rgba(245, 245, 245, 1) !important;
				&:hover {
					background: rgba(35, 35, 35, 1);
				}
			}
		}
	}
}
pre {
	background: #2a2a2a;
	border: 1px solid #1f1f1f;
	color:#9a9a9a;
}

.blocks {
	width: 100%;
	>div {
		background:#474747;
		width: 300px;
		height: 300px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		>a {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 3em !important;
			height:100%;
			width:100%;
		}
		&:hover {
			background:#515151;
		}
	}
}

// Markdown
table {
	border: {
		color: #bbb;
		spacing: 0;
		style: solid;
		width: 1px 0 0 1px;
	}
	td,
	th {
		padding: 10px;
		border: {
			color: #bbb;
			style: solid;
			width: 1px 0 0 1px;
		}
	}
	&.no-border {
		border: none !important;
		td,
		th {
			border: none !important;
		}
	}
}

// Jasney
tbody.rowlink tr {
	&:hover {
		cursor: pointer;
	}
}

.pretty-row {
	$e: 0.25em;
	@extend .row;
	background: #474747;
	padding-bottom: 0 - $e;
	> div {
		padding: {
			left: 0;
			right: 0;
		}
		> div:nth-child(1) {
			background: #595959;
			margin: {
				top: 0;
			}
			> h3 {
				margin-top: 0;
			}
		}
		padding-bottom: $e;
	}
	> div:nth-child(odd) {
		> div {
			margin-right: $e;
		}
	}
	> div:nth-child(even) {
		> div {
			margin-left: $e;
		}
	}
}

// Modals
.modal {
	.modal-content {
		background: rgba(37, 37, 37, 1);
	}
	.modal-header{
		border-bottom: rgba(78, 78, 78, 1) 1px solid !important;
	}
	.modal-body {
		border-bottom: none !important;
	}
	.modal-footer {
		border-top: rgba(78, 78, 78, 1) 1px solid !important;
	}
	h4,
	label {
		color: rgba(221, 221, 221, 1);
	}
}