.center-block {
	display: block;
	margin: 0 auto;
}
.row-margin {
	margin:0 !important;
}

.pagination {
	$pagination-height: 37px;
	background: rgba(69, 69, 69, 1);
	border-radius: 0 !important;
	height: $pagination-height;
	margin-bottom: 0;
	padding: 0 !important;
	li{
		color: $linkColor !important;
		height: $pagination-height;
		&.active {
			color: rgba(112, 112, 112, 1) !important;
		}
		&::before {
			content: none !important;
			padding: 0 0;
		}
		&:not(.active):hover {
			background: rgba(61, 61, 61, 1);
		}
		a,
		span {
			align-items: center;
			display: flex;
			height: $pagination-height;
			justify-content: center;
			padding:0 1em !important;
		}
	}
}
.breadcrumb {
	$breadcrumbHeight: 37px;
	background: rgba(69, 69, 69, 1);
	border-radius: 0 !important;
	height: $breadcrumbHeight;
	margin-bottom: 0;
	padding: 0 !important;
	li {
		color: $linkColor !important;
		height: $breadcrumbHeight;
		&.active {
			color: rgba(112, 112, 112, 1) !important;
		}
		&::before {
			content: none !important;
			padding: 0 0;
		}
		&:not(.active):hover {
			background: rgba(61, 61, 61, 1);
		}
		a,
		span {
			align-items: center;
			display: flex;
			height: $breadcrumbHeight;
			justify-content: center;
			padding:0 1em !important;
		}
	}
}
.inline {
	display: inline;
}
.full-width {
	width: 100%;
}
.row-flat {
	margin-left: 0 !important;
	margin-right: 0 !important;
	> div {
		padding: 0 !important;
	}
}
.panel-dark {
	background: rgba(41, 41, 41, 1);
	border-color: rgba(49, 49, 49, 1);
	.panel-heading {
		background-color: rgba(88, 88, 88, 1);
		border-color: rgba(97, 97, 97, 1);
	}
}
.padding-none {
	padding:0 !important;
}



$cardHeight: 200px;
$cardWidth: 200px;
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	.flipper {
		transform-style: preserve-3d;
		transition: 0.6s;
		position: relative;
		.front {
			background: {
				color: rgba(23, 23, 23, 1);
				size: $cardWidth $cardHeight !important;
			}
			transform: rotateY(0deg);
			z-index: 2;
		}
		.back {
			transform: rotateY(180deg);
			.back-logo >img {
				max-height: 8em;
				max-width: $cardWidth;
			}
			.back-title {
				left: 0;
				position: absolute;
				right: 0;
				text-align: center;
				top: 80px;
				width: 100%;
			}
		}
		>div {
			background: rgba(23, 23, 23, 1);
			border-radius: 1em;
			backface-visibility: hidden;
			left: 0;
			position: absolute;
			top: 0;
		}
	}
	&:hover,
	.hover {
		.flipper {
			transform: rotateY(180deg);
		}
	}
}
.flip-container,
.front,
.back {
	height: $cardHeight;
	width: $cardWidth;
}
pre {
	background: #2a2a2a;
	border: 1px solid #1f1f1f;
	color: #9a9a9a;
}
.section-light {
	background: rgb(76, 76, 76);
}
.material-bar {
	background: rgb(71, 71, 71);
	height: inherit;
	li{
		color: $linkColor !important;
		height: inherit;

		&.active {
			color: rgba(112, 112, 112, 1) !important;
		}

		&::before {
			content: none !important;
			padding: 0 0;
		}

		&:not(.active):hover {
			background: rgba(61, 61, 61, 1);
		}

		a,
		span{
			align-items: center;
			display: flex;
			height: inherit;
			justify-content: center;
			padding: {
				top: .25em;
				left: .5em;
				right: .5em;
				bottom: .25em;
			}
		}
	}
}