$textColor:#b8b8b8;

$xs:767px;  //max-width
$sm:768px;  //min-width
$md:992px;  //min-width
$lg:1200px; //min-width

$linkColor:#fff !important;
$linkColor2:#33B5E5 !important;

$bcLinkColor:#33B5E5;