@import "sass";
#radio{
	text-align:center;
	img{
		display:inline-block;
	}
	p.holo-box-dark{
		span{
			color:#5565EC;
			margin-right:1em;
		}
	}
	div.row{
		div{
			a{
				color:$linkColor2;
				display:block;
				padding:{
					top:1em;
					bottom:1em;
				}
			}
		}
	}
}