@import "sass";
*{
	margin:0;
	padding:0;
}
body{
	background:#373737 !important;
	color:$textColor !important;
	font:{
		family:"Proxima Nova Regular","Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
		style:normal;
		size:1.5em !important;
	}
	padding-top:50px;
}
.navbar{
	$border:#2991B8;
	color:$textColor !important;
	li.active a{
		border-bottom:1px solid #33B5E5;
	}
	.navbar-brand{
		margin-top:-7px;
	}
	@media (min-width:$md){
		.dropdown:hover .dropdown-menu{
			display:block;
		}
	}
	.dropdown-menu{
		background:#222;
		color:#ababab !important;
		li{
			a{
				background:inherit;
				border-left:1px solid transparent;
				color:#777 !important;
				padding:{
					top:.6em;
					bottom:.6em;
				}
				&:hover{
					background:#333 !important;
					border-left:1px solid $border;
					color:#fff !important;
				}
			}
		}
		.divider{
			background:#cacaca;
			color:#ababab;
		}
	}
	>div >div >ul >li{
		>a{
			border-bottom:1px solid transparent;
			&:hover{
				border-bottom:1px solid $border;
			}
		}
	}
}
#page{
	background:url('/img/background.png') center repeat;
}
#portfolio{
	margin:0px;
	.title{
		h2{
			text-align:center;
		}
	}
	#portfolio-about{
		p{
			line-height:1;
			font-size:.6em;
			img{
				margin:0 5px 0;
			}
		}
	}
	#portfolio-social{
		img{
			opacity:.5;
			padding:{
				left:5px;
				right:5px;
			}
			&:hover{
				opacity:1;
			}
		}
	}
}
#copyright{
	text-align:center;
}
.page-header{
	margin:{
		top:0.2em !important;
		bottom:0em !important;
	}
}
ol.breadcrumb{
	background:#454545;
	box-shadow:inset 7px 0 9px -7px #33B5E5;
	margin-bottom:0px;
	li.active{
		color:#aaa;
	}
	a{
		color:$bcLinkColor;
	}
}
.wrapper{
	margin:0 auto;
	padding:2em 2em;
	width:100%;
	a{
		color:$linkColor;
		text-decoration:none;
		&:hover{
			text-decoration:none;
		}
	}
}
.wrapper-small{
	@extend .wrapper;
	padding:1em 2em !important;
}
.wrapper-holo{
	@extend .wrapper;
	box-shadow:inset 0 20px 20px -20px rgba(41,145,184,.8);
	background:#212121;
}
.wrapper-xs{
	@extend .wrapper;
	padding:{
		top:.1em;
		left:0em;
		right:0em;
		bottom:.1em;
	}
}
.wrapper-none{
	@extend .wrapper;
	padding:{
		top:.1em;
		left:0em;
		right:0em;
		bottom:0em;
	}
}
#copyright{
	background:#111;
	box-shadow:inset 0 -10px 10px -10px rgba(41,145,184,.8);
}
.holo-text{
	color:#2991B8;
}
.holo-text-secondary{
	color:#AA66CC;
}
.holo-line-block{
	border-bottom:1px solid #1b5e78;
}
.holo-box{
	background:#515151;
	padding:1em;
	text-decoration:none;
}
.holo-box-dark{
	@extend .holo-box;
	background:#282828;
}
a{
	cursor:pointer !important;
}