body {
  color: #cacaca;
  margin: 0;
  padding: 0; }

.navbar {
  color: #cacaca !important; }
  .navbar .dropdown-menu {
    background: #222;
    color: #ababab !important; }
    .navbar .dropdown-menu li a {
      background: inherit;
      color: #777 !important; }
      .navbar .dropdown-menu li a:hover {
        background: #333 !important; }
    .navbar .dropdown-menu .divider {
      background: #cacaca;
      color: #ababab; }
