$textColor:#b8b8b8;
$bcLinkColor:#33B5E5;
$linkColor:#fff;
$linkColor2:#33B5E5 !important;

$roles-administrator-image:'/img/forums/roles/1.png';
$roles-administrator-color:rgba(255,255,0,1);
$roles-radio-team-leader-image:'/img/forums/roles/2.png';
$roles-radio-team-image:'/img/forums/roles/3.png';
$roles-radio-team-color:rgba(128,0,128,1);
$roles-media-team-leader-image:'/img/forums/roles/4.png';
$roles-media-team-image:'/img/forums/roles/5.png';
$roles-media-team-color:rgba(128,0,128,1);
$roles-web-developer-leader-image:'/img/forums/roles/6.png';
$roles-web-developer-image:'/img/forums/roles/7.png';
$roles-web-developer-color:rgba(0,128,0,1);
$roles-content-team-leader-image:'/img/forums/roles/8.png';
$roles-content-team-image:'/img/forums/roles/9.png';
$roles-content-team-color:rgba(0,128,0,1);
$roles-community-team-leader-image:'/img/forums/roles/10.png';
$roles-community-team-image:'/img/forums/roles/11.png';
$roles-community-team-color:rgba(0,128,128,1);
$roles-events-team-leader-image:'/img/forums/roles/12.png';
$roles-events-team-image:'/img/forums/roles/13.png';
$roles-events-team-color:rgba(0,128,128,1);
$roles-donator-image:'/img/forums/roles/14.png';
$roles-donator-color:rgba(35,206,226,1);