.wrapper{
	margin:0 auto;
	padding:2em 2em;
	width:100%;
}
.wrapper,
.wrapper-flat{
	a{
		color:$linkColor;
		text-decoration:none;
		&:hover{
			text-decoration:none;
		}
	}
}
.wrapper-dark{
	@extend .wrapper;
	background:#282828;
}
.wrapper-small{
	@extend .wrapper;
	padding:1em 2em !important;
}
.wrapper-holo{
	@extend .wrapper;
	box-shadow:inset 0 20px 20px -20px rgba(41,145,184,.8);
	background:#212121;
}
.wrapper-xs{
	@extend .wrapper;
	padding:{
		top:.1em;
		left:0em;
		right:0em;
		bottom:.1em;
	}
}
.wrapper-none{
	@extend .wrapper;
	padding:{
		top:.1em;
		left:0em;
		right:0em;
		bottom:0em;
	}
}

#top {
	bottom: 15px;
	display: none;
	position: fixed;
	right: 25px;
	z-index: 9999;
	a {
		i {
			background: rgba(18, 18, 18, 0.7);
			border-radius: 3px;
			color: #fff;
			font-size: 14px;
			padding: 8px 9px 5px;
		}
	}
}