.table-subforums{
	tr{
		td{
			&:nth-child(1){
				width:5%;
			}
			&:nth-child(2){
				width:60%;
			}
			&:nth-child(3){
				width:20%;
			}
			&:nth-child(4){
				width:15%;
			}
		}
	}
}
.post{
	.post-info{
		background:#111111;
		padding:.5em 1em;
	}
	.col-sm-3{
		background:#212121;
		border-radius:1em;
	}
}