.no-js .overlay,
.overlay.hide {
	-webkit-transition: opacity 0.3s, visibility 0.3s;
	transition: opacity 0.3s, visibility 0.3s;
	visibility: hidden;
}

.news-header {
	left: 15%;
	margin: 0 auto;
	pointer-events: none;
	top: 3.5em;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	width: 70%;

	h1 {
		float: left;
		font-weight: 700;
		font-size: 2em;
		letter-spacing: 1px;
		line-height: 1.3;
		margin: 0;
		padding: 1.5em 0 0.25em;
		text-transform: uppercase;
	}
}

.message {
	clear: both;
	color: #f39c12;
	display: none;
}

.overlay {
	background-color: rgba(40, 49, 56, 0.95);
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 10000;
}

.info {
	font: {
		size: 80%;
		weight: 700;
	}
	left: 0;
	letter-spacing: 1px;
	text-align: center;
	position: absolute;
	text-transform: uppercase;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;

	button {
		background: transparent;
		border: 2px solid #fff;
		color: #fff;
		display: block;
		font-weight: bold;
		letter-spacing: 1px;
		margin: 1em auto;
		opacity: 0.7;
		outline: none;
		padding: 1em 2em;
		text-transform: uppercase;

		&:hover {
			opacity: 1;
		}
	}

	span {
		background: rgba(52, 73, 94, 0.7) no-repeat 50% 85%;
		background-size: 75%;
		display: inline-block;
		height: 180px;
		margin: 4px;
		padding: 10px;
		text-align: center;
		vertical-align: top;
		width: 180px;
		&.info-drag {
			background-image: url('../img/news/drag.svg');
		}

		&.info-keys {
			background-image: url('../img/news/keys.svg');
		}
		&.info-switch {
			background-image: url('../img/news/switchmin.svg');
			background-size: 65%;
		}
	}
}

@media screen and (max-width: 650px) {
	.info span.info-keys,
	.info span.info-switch {
		display: none;
	}

	.message {
		display: block;
	}
}

@media screen and (max-width: 30em) {
	.info {
		span {
			font-size: 0.5em;
			height: 100px;
			width: 100px;
		}
	}
}