.center-block{
	display:block;
	margin:0 auto;
}
.row-margin{
	margin:0em !important;
}

.pagination{
	li a{
		background-color:#414141 !important;
		border:1px solid #33B5E5 !important;
	}
}
.breadcrumb{
	background:#454545;
	box-shadow:inset 7px 0 9px -7px #33B5E5;
	margin-bottom:0px;
	a{
		color:$linkColor !important;
	}
	li.active{
		color:#aaa;
	}
}

::-webkit-scrollbar{
	width:.75em;
}
::-webkit-scrollbar-thumb{
	border-radius:10px;
	background:rgba(41,145,184,0.8);
	box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive{
	background:rgba(41,145,184,0.8);
}
.inline{
	display:inline;
}
.full-width{
	width:100%;
}
.row-flat{
	margin-left:0em !important;
	margin-right:0em !important;
}
.panel-dark{
	background:#292929;
	border-color:#313131;
	.panel-heading{
		background-color:#585858;
		border-color:#616161;
	}
}
.padding-none{
	padding:0em !important;
}



$cardHeight:200px;
$cardWidth:200px;
/* entire container, keeps perspective */
.flip-container{
	perspective:1000;
	.flipper{
		transform-style:preserve-3d;
		transition:0.6s;
		position:relative;
		.front{
			background:{
				color:#232323;
				size:$cardWidth $cardHeight !important;
			}
			transform:rotateY(0deg);
			z-index:2;
		}
		.back{
			transform:rotateY(180deg);
			.back-logo >img{
				max-height:8em;
				max-width:$cardWidth;
			}
			.back-title{
				left:0;
				position:absolute;
				right:0;
				text-align:center;
				top:80px;
				width:100%;
			}
		}
		>div{
			background:#232323;
			border-radius:1em;
			backface-visibility:hidden;
			left:0;
			position:absolute;
			top:0;
		}
	}
	&:hover,
	.hover{
		.flipper{
			transform:rotateY(180deg);
		}
	}
}
.flip-container,
.front,
.back{
	height:$cardHeight;
	width:$cardWidth;
}