.center-block{
	display:block;
	margin:0 auto;
}
.row-margin{
	margin:0em !important;
}

.pagination{
	li a{
		background-color:rgba(65, 65, 65, 1) !important;
		border:1px solid rgba(51, 181, 229, 1) !important;
	}
}
.breadcrumb{
	background:rgba(69, 69, 69, 1);
	border-radius:0em !important;
	box-shadow:inset 7px 0 9px -7px rgba(51, 181, 229, 1);
	margin-bottom:0px;
	a{
		color:$linkColor !important;
	}
	li.active{
		color:#aaa;
	}
}

::-webkit-scrollbar{
	background:rgba(25, 25, 25, 1);
	width:.75em;
}
::-webkit-scrollbar-thumb{
	border-radius:10px;
	background:rgba(41,145,184,0.8);
	box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive{
	background:rgba(41,145,184,0.8);
}
.inline{
	display:inline;
}
.full-width{
	width:100%;
}
.row-flat{
	margin-left:0em !important;
	margin-right:0em !important;
}
.panel-dark{
	background:rgba(41, 41, 41, 1);
	border-color:rgba(49, 49, 49, 1);
	.panel-heading{
		background-color:rgba(88, 88, 88, 1);
		border-color:rgba(97, 97, 97, 1);
	}
}
.padding-none{
	padding:0em !important;
}



$cardHeight:200px;
$cardWidth:200px;
/* entire container, keeps perspective */
.flip-container{
	perspective:1000;
	.flipper{
		transform-style:preserve-3d;
		transition:0.6s;
		position:relative;
		.front{
			background:{
				color:rgba(23, 23, 23, 1);
				size:$cardWidth $cardHeight !important;
			}
			transform:rotateY(0deg);
			z-index:2;
		}
		.back{
			transform:rotateY(180deg);
			.back-logo >img{
				max-height:8em;
				max-width:$cardWidth;
			}
			.back-title{
				left:0;
				position:absolute;
				right:0;
				text-align:center;
				top:80px;
				width:100%;
			}
		}
		>div{
			background:rgba(23, 23, 23, 1);
			border-radius:1em;
			backface-visibility:hidden;
			left:0;
			position:absolute;
			top:0;
		}
	}
	&:hover,
	.hover{
		.flipper{
			transform:rotateY(180deg);
		}
	}
}
.flip-container,
.front,
.back{
	height:$cardHeight;
	width:$cardWidth;
}

.card{
	background:rgba(23, 23, 23, 1);
	border-left:{
		style:solid;
		width:4px;
		color:transparent;
	}
	padding:.5em .3em;
	&:hover{
		background:rgba(33, 33, 33, 1);
	}
}
.card-bad {
	border-left-color:rgba(153, 0, 0, 1);
}
.card-good {
	border-left-color:rgba(0, 153, 0, 1);
}
.card-read {
	border-left-color:rgba(25,25, 25, 1);
}
.card-unread {
	border-left-color:rgba(170, 170, 170, 1);
}
.card-hidden {
	border-left-color:rgba(25, 255, 255, 1);
}
.card-locked {
	border-left-color:rgba(86, 0, 158, 1);
}
.card-sticky {
	border-left-color:rgba(237, 119, 16, 1);
}
.card-poll {
	border-left-color:rgba(237, 210, 16, 1);
}
.card-link {
	&:hover {
		cursor:pointer;
	}
}
.list-group {
	.list-group-item {
		background: rgba(31, 31, 31, 1);
		border:1px solid rgba(23, 23, 23, 0.7);
		&:hover {
			background: rgba(39, 39, 39, 1);
			color:rgba(255, 255, 255, 1);
		}
		&.active {
			background: rgba(37, 37, 37, 1);
			border:1px solid rgba(37, 37, 37, 1);
			&:hover {
				background:rgba(43, 43, 43, 1);
				border:1px solid rgba(189, 189, 189, .5);
			}
		}
	}
}