.holo-line-block {
	border-bottom: $boxes-holo-line-block;
}
.holo-box {
	background: $boxes-holo-box-bg;
	padding: 1em;
	text-decoration: none;
}
.blocks {
	@extend .clearfix;
	width: 100%;
	>div {
		background: $boxes-box-bg;
		width: $boxes-box-size;
		height: $boxes-box-size;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		float: left;
		margin: {
			right: 1em;
			bottom: 1em;
		}
		>a {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 3em !important;
			height: 100%;
			width: 100%;
		}
		&:hover {
			background: $boxes-box-bg-hover;
		}
	}
}