#chatbox-holder {
	padding: $chatbox-holder-padding;
	#chatbox {
		position: relative;
		width: $chatbox-width;

		#chatbox-error {
			background: $chatbox-error-background;
			opacity: 0;
			padding: {
				top: $chatbox-error-padding;
				left: $chatbox-error-padding;
				right: $chatbox-error-padding;
				bottom: $chatbox-error-padding;
			}
			position: absolute;
			top: 0;
			width: $chatbox-width;
			z-index: $chatbox-error-z-index;
		}

		#chatbox-messages {
			overflow-y: scroll;
			height: $chatbox-msgs-height;
			width: $chatbox-msgs-width;
			.msg {
				padding: {
					top: $chatbox-msg-paddingHeight;
					left: $chatbox-msg-paddingWidth;
					right: $chatbox-msg-paddingWidth;
					bottom: $chatbox-msg-paddingHeight;
				}
				width: $chatbox-width;
				time {
					color: $chatbox-msg-time;
				}
				p {
					display: inline;
					margin-bottom: 0;
				}
				&:nth-child(even) {
					background: $chatbox-msg-normal-even;
				}
				&:nth-child(odd) {
					background: $chatbox-msg-normal-odd;
				}
			}
			.msg-hidden {
				&:nth-child(even) {
					background: $chatbox-msg-hidden-even;
				}
				&:nth-child(odd) {
					background: $chatbox-msg-hidden-odd;
				}
			}
			.msg-pinned {
				&:nth-child(even) {
					background: $chatbox-msg-pinned-even;
				}
				&:nth-child(odd) {
					background: $chatbox-msg-pinned-odd;
				}
			}
			.msg-pinhid {
				&:nth-child(even) {
					background: $chatbox-msg-pinhid-even;
				}
				&:nth-child(odd) {
					background: $chatbox-msg-pinhid-odd;
				}
			}
			&::-webkit-scrollbar {
				width: $chatbox-scrollbar;
			}
			&::-webkit-scrollbar-thumb {
				border-radius: $chatbox-scrollbar-thumb-border;
				background: $chatbox-scrollbar-thumb-bg;
				box-shadow: $chatbox-scrollbar-thumb-shadow;
				&:window-inactive {
					background: $chatbox-scrollbar-inactive;
				}
			}
		}
		#chatbox-actions {
			height: $chatbox-action-height;
			width: $chatbox-width;
			>a {
				color: $chatbox-action-color;
				display: inline-block;
				height: 100%;
				line-height: $chatbox-action-height;
				text-align: center;
				width: $chatbox-action-width;
				&:nth-child(1) {
					border-right: $chatbox-action-border;
				}
				&:nth-child(2) {
					border-left: $chatbox-action-border;
					border-right: $chatbox-action-border;
				}
				&:nth-child(3) {
					border-left: $chatbox-action-border;
				}
				&:hover {
					background: $chatbox-action-hover-bg;
				}
			}
		}
		#chatbox-message {
			width: $chatbox-width;
			height: $chatbox-input-height;
			&.message-sent {
				border-color: $chatbox-input-sent-border;
				box-shadow: $chatbox-input-sent-shadow;
			}
			&.message-sent:focus {
				border-color: $chatbox-input-sent-border;
				outline: none;
			}
			&.message-bad {
				border-color: $chatbox-input-bad-border;
				box-shadow: $chatbox-input-bad-shadow;
			}
			&.message-bad:focus {
				border-color: $chatbox-input-bad-border;
				outline: none;
			}
		}
	}
}