.container {
	color: $container-color;
	padding: {
		top: $container-padding-vertical;
		left: $container-padding-horizontal;
		right: $container-padding-horizontal;
		bottom: $container-padding-vertical;
	}
	text-align: center;
	width: $container-width;

	h1 {
		font-size: $container-h1-size;
	}

	h3 {
		font-size: $container-h3-size;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 1.5em;
		text-align: center;
		small {
			color: $container-color;
			display: block;
		}
	}
}

.container-dark {
	background: $container-dark;
}

.container-darkblue {
	background: $container-darkblue;
}

.container-darkpurple {
	background: $container-darkpurple;
}

.container-duckegg-blue {
	background: $duckegg-blue;
}

.container-hero {
	background: $container-hero;
}

.container-lightgreen {
	background: $container-lightgreen;
}

.container-red {
	background: $container-red;
}

.container-royal-blue {
  	background: $royal-blue;
}

.container-silver {
	background: $container-silver;
}