* {
	margin: 0;
	padding: 0;
}
body {
	background: $page-body-bg;
	color: $page-body-color;
	cursor: default;
	font: {
		family: $page-body-font-family;
		style: normal;
		size: $page-body-font-size;
	}
	padding-top: $page-body-padding;
}
#portfolio {
	margin: 0;
	.title {
		h2 {
			text-align: center;
		}
	}
	#portfolio-about {
		p {
			line-height: 1;
			font-size: .6em;
			img {
				margin: 0 5px 0;
			}
		}
	}
	#portfolio-social {
		img {
			opacity: $page-portfolio-social-opacity;
			padding: {
				left: $page-portfolio-social-padding;
				right: $page-portfolio-social-padding;
			}
			-webkit-transition: $page-portfolio-social-transition;
			transition: $page-portfolio-social-transition;
			&:hover {
				opacity: $page-portfolio-social-opacity-hover;
			}
		}
	}
}
#top {
	bottom: $page-top-bottom;
	display: none;
	position: fixed;
	right: $page-top-right;
	z-index: 9999;
	a {
		i {
			background: $page-top-bg;
			border-radius: $page-top-border-radius;
			color: $page-top-color;
			font-size: $page-top-font-size;
			padding: $page-top-padding;
		}
	}
}
::-webkit-scrollbar {
	background: $page-scrollbar-main-bg;
	width: $page-scrollbar-main-width;
}
::-webkit-scrollbar-thumb {
	background: $page-scrollbar-thumb-bg;
	border-radius: $page-scrollbar-thumb-br;
	box-shadow: $page-scrollbar-thumb-shadow;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: $page-scrollbar-thumb-inactive-bg;
}