.members {
	padding: 0;
}
.members-administrator {
	@extend .members;
	color: $roles-administrator-color !important;
	&::before {
		content: url($roles-administrator-image);
	}
}
.members-administrator-no-img {
	@extend .members;
	color: $roles-administrator-color !important;
}
.members-radio-team-leader {
	@extend .members;
	color: $roles-radio-team-color !important;
	&::before {
		content: url($roles-radio-team-leader-image);
		top: 8px;
	}
}
.members-radio-team-leader-no-img {
	@extend .members;
	color: $roles-radio-team-color !important;
}
.members-radio-dj {
	@extend .members;
	color: $roles-radio-team-color !important;
	&::before {
		content: url($roles-radio-team-image);
	}
}
.members-radio-dj-no-img {
	@extend .members;
	color: $roles-radio-team-color !important;
}
.members-media-team-leader {
	@extend .members;
	color: $roles-radio-team-color !important;
	&::before {
		content: url($roles-media-team-leader-image);
	}
}
.members-media-team-leader-no-img {
	@extend .members;
	color: $roles-radio-team-color !important;
}
.members-media-team {
	@extend .members;
	color: $roles-radio-team-color !important;
	&::before {
		content: url($roles-media-team-image);
	}
}
.members-media-team-no-img {
	@extend .members;
	color: $roles-radio-team-color !important;
}
.members-web-developer-leader {
	@extend .members;
	color: $roles-web-developer-color !important;
	left: 1px;
	&::before {
		content: url($roles-web-developer-leader-image);
	}
}
.members-web-developer-leader-no-img {
	@extend .members;
	color: $roles-web-developer-color !important;
}
.members-web-developer {
	@extend .members;
	color: $roles-web-developer-color !important;
	&::before {
		content: url($roles-web-developer-image);
	}
}
.members-web-developer-no-img {
	@extend .members;
	color: $roles-web-developer-color !important;
}
.members-content-team-leader {
	@extend .members;
	color: $roles-content-team-color !important;
	&::before {
		content: url($roles-content-team-leader-image);
	}
}
.members-content-team-leader-no-img {
	@extend .members;
	color: $roles-content-team-color !important;
}
.members-content-team {
	@extend .members;
	color: $roles-content-team-color !important;
	&::before {
		content: url($roles-content-team-image);
	}
}
.members-content-team-no-img {
	@extend .members;
	color: $roles-content-team-color !important;
}
.members-community-team-leader {
	@extend .members;
	color: $roles-community-team-color !important;
	&::before {
		content: url($roles-community-team-leader-image);
	}
}
.members-community-team-leader-no-img {
	@extend .members;
	color: $roles-community-team-color !important;
}
.members-community-team {
	@extend .members;
	color: $roles-community-team-color !important;
	&::before {
		content: url($roles-community-team-image);
	}
}
.members-community-team-no-img {
	@extend .members;
	color: $roles-community-team-color !important;
}
.members-events-team-leader {
	@extend .members;
	color: $roles-events-team-color !important;
	&::before {
		content: url($roles-events-team-leader-image);
	}
}
.members-events-team-leader-no-img {
	@extend .members;
	color: $roles-events-team-color !important;
}
.members-events-team {
	@extend .members;
	color: $roles-events-team-color !important;
	&::before {
		content: url($roles-events-team-image);
	}
}
.members-events-team-no-img {
	@extend .members;
	color: $roles-events-team-color !important;
}
.members-donator {
	@extend .members;
	color: $roles-donator-color !important;
	&::before {
		content: url($roles-donator-image);
	}
}
.members-donator-no-img {
	@extend .members;
	color: $roles-donator-color !important;
}